<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewsArticles.Properties.Settings.VTDIConnectionString"
            connectionString="Data Source=DESKTOP-PKAH2M7;Initial Catalog=VTDI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\strap\source\repos\NewsArticles\NewsArticles\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
      
    </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>